body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #eeeeee;
}

h1 {
  font-size: 5.625rem;
  margin: 50px, auto, 0, auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
hr {
  color: #eaf6f6;
  width: 4%;
  border-style: dotted none none;
  border-width: 6px;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

.java {
  width: 175px;
}

.c {
  border-radius: 50%;
  width: 175px;
}
.react {
  width: 250px;
}
.github {
  border-radius: 50%;
  width: 175px;
}

.javascript {
  width: 270px;
}

.html {
  width: 140px;
}

.css {
  width: 175px;
}

.node {
  width: 175px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.footerwriting {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profilepic {
  padding: 100px 0;
  margin-top: 10px;
  border-radius: 50%;
  width: 25%;
  /* float: left; */
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skillpic {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.basketball {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #222831;
  position: realtive;
  padding-top: 100px;
  margin-bottom: -3px;
}
#middle-container1 {
  padding: 100px 0;
  background-color: #393e46;
}

.middle-container2 {
  padding: 100px 0;
  background-color: #393e46;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 40%;
  top: 7%;
  width: 10%;
}
.bottom-cloud {
  position: absolute;
  bottom: 50%;
  left: 10%;
  width: 10%;
}

.right-cloud {
  position: absolute;
  right: 50px;
  width: 10%;
}

.forest {
  width: 100%;
  height: 10%;
  padding: 0px;
}

.birds3 {
  position: absolute;
  left: 3%;
  top: 7%;
  width: 40%;
  height: 20%;
}

.birds2 {
  position: absolute;
  right: 0%;
  top: 10%;
  width: 40%;
  height: 30%;
}

.navbar {
  background-color: rgb(56, 65, 77);
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  bottom: 95%;
  text-align: left;
}
.navtext {
  visibility: hidden;
  display: inline-block;
  color: #eaf6f6;
  margin-top: 5px;
  padding-left: 2%;
  font-size: 25px;
}
.About {
  display: inline-block;
  position: fixed;
  font-size: 25px;
  text-emphasis: bold;
  font-family: "Sacramento", cursive;
  color: #eaf6f6;
  width: 100%;
  top: 5px;
  right: 320px;
  bottom: 90%;
  text-align: right;

  /* padding-left: 70%; */
}

.Projects {
  display: inline-block;
  position: fixed;
  font-size: 25px;
  text-emphasis: bold;
  font-family: "Sacramento", cursive;
  color: #eaf6f6;
  width: 100%;
  top: 5px;
  right: 200px;
  bottom: 90%;
  text-align: right;
}

.Contact {
  display: inline-block;
  position: fixed;
  font-size: 25px;
  text-emphasis: bold;
  font-family: "Sacramento", cursive;
  color: #eaf6f6;
  width: 100%;
  top: 5px;
  right: 80px;
  bottom: 90%;
  text-align: right;
}
.BUTTON_CSU {
  background: #11999e;
  background-image: -webkit-linear-gradient(top, #11999e, #66bfbf);
  background-image: -moz-linear-gradient(top, #11999e, #66bfbf);
  background-image: -ms-linear-gradient(top, #11999e, #66bfbf);
  background-image: -o-linear-gradient(top, #11999e, #66bfbf);
  background-image: -webkit-gradient(to bottom, #11999e, #66bfbf);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 40px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #11999d 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_CSU:hover {
  border: solid #11999e 1px;
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #11999e);
  background-image: -moz-linear-gradient(top, #66bfbf, #11999e);
  background-image: -ms-linear-gradient(top, #66bfbf, #11999e);
  background-image: -o-linear-gradient(top, #66bfbf, #11999e);
  background-image: -webkit-gradient(to bottom, #66bfbf, #11999e);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
